@import "tailwindcss";
@plugin "daisyui";
@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slide-left 0.3s ease-out;
}
body {
  font-family: 'Poppins', sans-serif;
}

